<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Login Page!!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://stormotion.io/blog/content/images/2018/04/cooking-app.jpg" alt="codeswag-logo" width=350 height=250>
      <ion-card-subtitle>Recipes App</ion-card-subtitle>
      <ion-card-title>Recipe.ShoppingList.co</ion-card-title>
    </ion-card-header>
  <hr>
    <ion-card-content>
      <ion-card-title>LOGIN FORM</ion-card-title>
      <hr>
      <ion-item>
      <ion-label>Enter UserName - </ion-label>
      <ion-input placeholder="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Enter Password - </ion-label>
      <ion-input placeholder="password" type="password"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="logMeIn()">Login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
